alembic==1.16.2
annotated-doc==0.0.4
appdirs==1.4.4
arrow==0.17.0
asgiref==3.9.2
atomicwrites==1.4.0
audioop-lts==0.2.2
audioread==3.0.1
Authlib==1.6.1
bs4==0.0.2
catboost==1.2.8
cirq==1.6.1
cirq-aqt==1.6.1
cirq-core==1.6.1
cirq-google==1.6.1
cirq-ionq==1.6.1
cirq-pasqal==1.6.1
cirq-web==1.6.1
colorlog==6.9.0
curl_cffi==0.13.0
cyclopts==3.22.5
Cython==3.1.2
databricks-sdk==0.102.0
datasets==4.5.0
Django==5.2.6
dnspython==2.7.0
docker==7.1.0
docopt==0.6.2
docplex==2.30.251
docstring_parser==0.17.0
# Editable install with no version control (duckduckgo-server==0.1.0)
duckduckgo_search==8.1.1
duet==0.2.9
email_validator==2.2.0
exceptiongroup==1.3.0
fastapi==0.135.3
fastdtw==0.3.4
fastmcp==2.11.2
ffmpeg==1.4
flask-cors==6.0.2
formulaic==1.1.1
git-filter-repo==2.47.0
google-analytics-data==0.18.19
google-api-core==2.25.1
google-auth==2.40.3
googleapis-common-protos==1.70.0
graphene==3.4.3
graphql-core==3.2.8
graphql-relay==3.2.0
graphviz==0.21
grpcio==1.73.1
grpcio-status==1.71.2
gunicorn==25.3.0
hf-xet==1.1.7
httpx-sse==0.4.1
huey==2.6.0
huggingface-hub==0.34.4
ibm-cloud-sdk-core==3.24.2
ibm-platform-services==0.68.2
interface-meta==1.3.0
isodate==0.7.2
jsonschema-path==0.3.4
lazy-object-proxy==1.11.0
librosa==0.11.0
linearmodels==6.1
Mako==1.3.10
matplotlib==3.10.6
mcp==1.12.4
mcp-server==0.1.4
mlflow==3.11.1
mlflow-skinny==3.11.1
mlflow-tracing==3.11.1
mlx==0.28.0
mlx-metal==0.28.0
mlx-whisper==0.4.2
multiprocess==0.70.18
multitasking==0.0.12
Nasdaq-Data-Link==1.0.4
oauthlib==3.3.1
openapi-core==0.19.5
openapi-pydantic==0.5.1
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
opentelemetry-api==1.41.0
opentelemetry-proto==1.41.0
opentelemetry-sdk==1.41.0
opentelemetry-semantic-conventions==0.62b0
optuna==4.4.0
orjson==3.11.5
parse==1.20.2
pathable==0.4.4
peewee==3.18.2
pipreqs==0.4.13
pooch==1.8.2
prettytable==3.17.0
primp==0.15.0
proto-plus==1.26.1
protobuf==5.29.5
psycopg2==2.9.10
pydub==0.25.1
pyhdfe==0.2.0
pyls-spyder==0.4.0
PyMySQL==1.1.2
pyperclip==1.9.0
PyQt6==6.9.1
PyQt6-WebEngine==6.9.0
pyreadstat==1.3.0
PySide6==6.9.2
pyspnego==0.12.0
python-multipart==0.0.20
qiskit==2.1.2
qiskit-aer==0.17.1
qiskit-algorithms==0.4.0
qiskit-finance==0.4.1
qiskit-ibm-runtime==0.41.1
qiskit-optimization==0.7.0
requests-oauthlib==2.0.0
requests_ntlm==1.3.0
rich-rst==1.3.1
rsa==4.9.1
rustworkx==0.17.1
setuptools==80.9.0
setuptools-scm==8.3.1
shiboken6==6.9.2
simplejson==3.20.2
skops==0.13.0
soundfile==0.13.1
soxr==0.5.0.post1
sqlparse==0.5.3
sse-starlette==3.0.2
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
starlette==0.47.2
stevedore==5.5.0
tapi-wrapper==2019.12.10
tapi-wrapper2==0.1.3
tapi-yandex-metrika==2020.10.20
tiktoken==0.11.0
torch==2.8.0
tscv==0.1.3
typedunits==0.0.1.dev20250903181955
# Editable install with no version control (url-text-fetcher==0.1.0)
uvicorn==0.35.0
websockets==15.0.1
Werkzeug==3.1.1
wheel==0.45.1
xgboost==3.1.2
xxhash==3.6.0
yarg==0.1.10
yfinance==0.2.65
