pandas
numpy
scipy
scikit-learn
matplotlib
seaborn
jupyter
notebook
tqdm
pyarrow
fastparquet
implicit
lightgbm
catboost
xgboost
mlflow
fastapi
uvicorn[standard]
pydantic
python-dotenv
prometheus-client
evidently
apache-airflow
boto3
s3fs